BOT_TOKEN=
PRODAMUS_SECRET_KEY=
PRODAMUS_PAYMENT_PAGE_URL=
WEBHOOK_BASE_URL=

GROUP_ID=
ADMIN_IDS=

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/paybot

PRODUCT_NAME=Доступ в закрытый канал
PRODUCT_PRICE=1490
LIFETIME_ACCESS=true
ACCESS_DAYS=36500

INVITE_LINK_EXPIRE_MINUTES=3

PAYMENT_LINK_TTL_MINUTES=30

LOG_LEVEL=INFO

REMINDER_AFTER_MINUTES=1440
REMINDER_LOOP_SECONDS=600

