BOT_TOKEN=
PRODAMUS_SECRET_KEY=
PRODAMUS_PAYMENT_PAGE_URL=
WEBHOOK_BASE_URL=

GROUP_ID=
ADMIN_IDS=

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/paybot

PRODUCT_NAME=Доступ в закрытую группу
PRODUCT_PRICE=990
LIFETIME_ACCESS=true
ACCESS_DAYS=36500

INVITE_LINK_EXPIRE_MINUTES=20

LOG_LEVEL=INFO

